.bluetooth-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 2px solid #97DC21; /* Blue border */
    color: #97DC21; /* Blue text */
    background-color: transparent;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    gap: 20px;
}

.bluetooth-button:hover {
    background-color: #97DC21; /* Blue background on hover */
    color: #ffffff; /* White text on hover */
}

.bluetooth-button:active {
    background-color: #97DC21; /* Darker blue background on click */
    border-color: #97DC21; /* Darker blue border on click */
    color: #ffffff; /* White text on click */
}

.bluetooth-button:disabled {
    opacity: 0.6; /* Reduce opacity when button is disabled */
    pointer-events: none; /* Disable pointer events */
}

.chart-canvas {
    position: absolute;
    top: 80%;
    left: 47%;
    transform: translate(-50%, -50%);
    margin-top: 70px; /* Additional margin from the top if needed */
  }

.bt-buttons{
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 50px;
}

h5{
    margin-bottom: 60px;
    margin-right: 70px;
}
h6{
    margin-top: 40px;
}



