nav {
    background-color: rgb(239, 237, 237);
    
    overflow: hidden;
    display: flex;
    align-items: center;
    
  }
nav img{
    width: 170px; /* Adjust the width as needed */
    height: auto; /* Maintain the original aspect ratio */
    object-fit: cover; /* Ensure the whole image is visible within the container */
    margin-left: auto; 
    margin-top: 15px;
    margin-bottom: 10px;
}