/* Style for the dropdown container */
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
body{
    background-color: white;
  }
  
  
.history-page-container h2,h3  {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }
  
h4 {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    
    }
    .historyForm p{
      text-align: center;
    }

    .historyForm input[type="date"]
    {
      margin-top: 20px;
      margin-left: 623px;
      margin-bottom: 0px;
      align-self:center ;
      border-radius: 20px;
      width: 280px;
      height: 40px;
      font-size: 16px; 
      padding: 5px;
      border-radius: 15px; 
      border-color: #97dc21;
      border: 0.1rem solid #97dc21;
    }
    .historyForm button[type="submit"] {
        border-radius: 25px;
        width: 200px;
        height: 40px;
        font-size: 1.1rem;
        color: white;
        font-weight: 700;
        background: #97DC21;
        margin-top: 30px;
        border: 0px;
        cursor: pointer;
        margin-left: 663px;
        transition: opacity 0.25s ease-out;
        padding: 0; /* Remove padding to ensure consistent height */
        line-height: 40px; /* Center text vertically */
        transition-property: transform ;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: 0s;
        }
        form button[type="submit"]:hover{
            opacity: 0.7s ease-out;
            transform: scale(1.03);
          }
          
   
    
    /* Style for the dropdown select element */
    .dropdown-select-history {
      width: 300px; /* Adjust as needed */
      height: 40px;
      font-size: 16px; /* Adjust as needed */
      margin-top: 40px;
      padding: 5px;
      margin-left: 615px;
      margin-right: auto;
      align-self:center ;
      border-radius: 15px;
      border-color: #97dc21;
      border: 0.1rem solid #97dc21;
    }

    
    
   
    /* Style for the dropdown options */
    .dropdown-option {
      font-weight: bold;
    }
    
    .chart-canvas {
      width: 500px;
      height: 500px;
      margin: 0 auto;
      padding: 2rem;
      text-align: center;
    }
    .charts-container {
      width: 90%; 
      margin: 0 auto;
      padding: 2rem;
      text-align: center;
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* Display two columns */
      grid-gap: 20px; 
    }
    
    .containers {
      display: flex; /* Use flexbox for layout */
      gap: 120px; /* Space evenly between the two containers */
      margin-top: 0px;
    }
    

    .historyForm2 p{
      text-align: center;
    }

    .historyForm2 input[type="date"]
    {
      margin-top: 20px;
      margin-left: 623px;
      margin-bottom: 0px;
      align-self:center ;
      border-radius: 20px;
      width: 280px;
      height: 40px;
      font-size: 16px; 
      padding: 5px;
      border-radius: 15px; 
      border-color: #97dc21;
      border: 0.1rem solid #97dc21;
    }
    .historyForm2 button[type="submit"] {
        border-radius: 25px;
        width: 200px;
        height: 40px;
        font-size: 1.1rem;
        color: white;
        font-weight: 700;
        background: #97DC21;
        margin-top: 30px;
        border: 0px;
        cursor: pointer;
        margin-left: 663px;
        transition: opacity 0.25s ease-out;
        padding: 0; /* Remove padding to ensure consistent height */
        line-height: 40px; /* Center text vertically */
        transition-property: transform ;
        transition-duration: 0.3s;
        transition-timing-function: ease;
        transition-delay: 0s;
        }