body{
  background-color: white;
}


/* .history-page-container h2,h3  {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
} */

/* h4 {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  
  } */
  /* .historyForm p{
    text-align: center;
  } */

  .historyForm input[type="date"]
  {
    /* margin-top: 20px;
    margin-left: 623px;
    margin-bottom: 0px;
    align-self:center ; */
    border-radius: 20px;
    width: 280px;
    height: 40px;
    font-size: 14px; 
    padding: 5px;
    border-radius: 15px; 
    border-color: #97dc21;
    border: 0.1rem solid #97dc21;
  }
  .row button[type="submit"] {
      border-radius: 25px;
      align-self: center;
      width: 200px;
      height: 40px;
      font-size: 1.1rem;
      color: white;
      font-weight: 700;
      background: #97DC21;
      margin-top: 10px;
      border: 0px;
      cursor: pointer;
      /* margin-left: 663px; */
      transition: opacity 0.25s ease-out;
      padding: 0; 
      line-height: 40px; 
      transition-property: transform ;
      transition-duration: 0.3s;
      transition-timing-function: ease;
      transition-delay: 0s;
      }
      form button[type="submit"]:hover{
          opacity: 0.7s ease-out;
          transform: scale(1.03);
        }
        
  .col h4{
    color: #97DC21;
  }

  
  .dropdown-select-history {
    width: 300px; 
    height: 50px;
    font-size: 18px; 
    /* margin-top: 40px; */
    padding: 5px;
    /* margin-left: 615px;
    margin-right: auto; */
    /* align-self:center ; */
    border-radius: 15px;
    border-color: #97dc21;
    border: 0.1rem solid #97dc21;
  }

  .dropdown-select-history:hover {
      background-color: #ffffff; 
      color:black;
    }
  
 
  .dropdown-option {
    font-weight: bold;
  }
  
  .chart-canvas {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  .charts-container {
    width: 90%; 
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 20px; 
  }
  
  .containers {
    display: flex;
    gap: 120px; 
    margin-top: 0px;
  }
  
  