/* Style for the dropdown container */
/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
body{
  background-color: white;
}


h2  {
  margin-top: 40px;
  margin-left: 70px;
  
}

h5 {
  margin: 3rem 0; /* Add some top margin */
  margin-bottom: 50px; /* Add margin for spacing */
  margin-left: 70px;
  
}

  
  /* Style for the dropdown select element */
  .dropdown-select {
    width: 300px; /* Adjust as needed */
    font-size: 16px; /* Adjust as needed */
    margin-left: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-self:center ;
  }
  
  .add-delete-button {
    margin-left: 0px;
    border-radius: 25px;
    margin-top: 30px;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  /* Style for the dropdown options */
  .dropdown-option {
    font-weight: bold;
  }
  
  .chart-canvas {

    width: 500px;
    height: 500px;
    margin-top: 2000px;
    padding: 2rem;
    text-align: center;
  }
  .charts-container {
    width: 90%; /* Adjust width as needed */
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Display two columns */
    grid-gap: 20px; /* Optional: Add gap between charts */
  }
  
  .containers {
    display: flex; /* Use flexbox for layout */
    gap: 120px; /* Space evenly between the two containers */
    margin-top: 0px;
  }
  /*.user-container{
     
    max-width: 400px;
    max-height: 150px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f9f9f9;
    text-align: center; 
    background-color: rgba(255, 255, 255, 0.6);
    }

  .bluetooth-container{

  max-width: 400px;
  max-height: 150px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #f9f9f9;
  text-align: center; 
  background-color: rgba(255, 255, 255, 0.6);
  }*/

  .user-container,
.bluetooth-container  {
  align-content: center;
  justify-content: center;
  align-items:center ;
  flex: 1; /* Equal width for both containers */
  max-width: 400px;
  max-height: 200px;  
  margin-top: 40px;
  margin-left: 120px;
  /*margin: 90px;  Adjust the margin as needed */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #f9f9f9;
  text-align: center; /* Align form elements to center */
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
.add-delete-button button{
  border-radius: 10px;
  gap: 20px;
  padding: 5px;
  border: 2px solid #97DC21; /* Blue border */
  color: #97DC21; /* Blue text */
  background-color: transparent;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  gap: 20px;
}

.add-delete-button button:hover {
  background-color: #97DC21; /* Blue background on hover */
  color: #ffffff; /* White text on hover */
}
.bluetooth-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: 2px solid #97DC21; /* Blue border */
  color: #97DC21; /* Blue text */
  background-color: transparent;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  gap: 20px;
}

.bluetooth-button:hover {
  background-color: #97DC21; /* Blue background on hover */
  color: #ffffff; /* White text on hover */
}

.bluetooth-button:active {
  background-color: #97DC21; /* Darker blue background on click */
  border-color: #97DC21; /* Darker blue border on click */
  color: #ffffff; /* White text on click */
}

.bluetooth-button:disabled {
  opacity: 0.6; /* Reduce opacity when button is disabled */
  pointer-events: none; /* Disable pointer events */
}



.bt-buttons{
  margin-top: 30px;
  margin-left: 10px;
  margin-bottom: 50px;
}

h5{
  margin-bottom: 60px;
  margin-right: 70px;
}
h6{
  margin-top: 40px;
}

.bluetooth-container{
  align-content: center;
  justify-content: center;
  align-items: center;
  flex: 1;
  max-width: 400px;
  max-height: 200px;
  margin-top: 0px;
  margin-left: 120px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
}


