/* RegistrationForm.css */

/* body{
  
  font-family: "work sans";
  background-image: url('https://www.color-meanings.com/wp-content/uploads/2022/02/Green-and-white-wave-design.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
} */
.registration-page-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://www.color-meanings.com/wp-content/uploads/2022/02/Green-and-white-wave-design.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.registration-form-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 80px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #f9f9f9;
  text-align: center; /* Align form elements to center */
  background-color: rgba(255, 255, 255, 0.6);
    }
    
    .registration-form-container h2 {
      text-align: center;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      padding: 1rem 0;
      margin: 0;
      cursor: none;
      font-size: 1.8rem;
      
    }
    
    .registration-form-container label {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 1.5rem;
      max-width: 100%;
    }
    
    .image-container {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .image-container img {
      flex: 1;
      width: 100%;
    }
    
    .form-content {
      display: flex;
      width: 100%;
    }
    .form-container {
      flex: 1;
     
    }
    .registration-form-container input[type="text"],
    .registration-form-container input[type="password"],
    .registration-form-container input[type="date"] {
      width: 250px; /* Adjust width to accommodate padding and border */
      height: 45px;
      box-sizing: border-box;
      border: none;
      font-size: 0.9rem;
      padding: 1rem; /* Adjust padding as needed */
      margin-bottom: 0.1rem; /* Adjust margin as needed */
      background-color: rgb(251, 251, 251,0.3);
      border-radius: 20px;
      border-color: white; /* Adjust border radius as needed */
       border: 2px solid white;
    }
    
    DateInput{
      font-size: 1.3rem;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }
     
  .registration-form-container button[type="submit"]:hover{
    /* opacity: 0.7; */
    transform: scale(1.03);
  }

  .registration-form-container button[type="submit"] {
  border-radius: 25px;
  width: 200px;
  height: 40px;
  font-size: 1.1rem;
  color: white;
  font-weight: 700;
  background: #97DC21;
  margin-top: 30px;
  border: 0px;
  cursor: pointer;
  /* transition: opacity 0.25s ease-out; */
  padding: 0; /* Remove padding to ensure consistent height */
  line-height: 40px; /* Center text vertically */

  transition-property: transform ;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  }
    
   